<h1 class="column twelve">Welcome.</h1>
<p>This is a template website using Rails, Devise, Skeleton, etc... There is not much going on yet, but it looks good. Come back later and see what else there is to look at.</p> 
<button class="button-primary">Cool button</button>